@import url("https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,400;0,700;0,800;1,800&display=swap");

.materibaru{
    
    font-family: 'Muli';
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #ffffff;

}
.informasimateri{
    width: 141px;
  height: 36px;
  font-family: Muli;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #333333;
}
.tabelawal {
    width: 144px;
  height: 42px;
  font-family: Muli;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #333333;
}
.input2 {
    width: 100%;
  height: 40px;
  border-radius: 4px;
  border: solid 1px #e0e0e0;
  background-color: #fbfbfb;
}
.input4 {
    width: 100%;
    height: 100%;
  border-radius: 4px;
  border: solid 1px #e0e0e0;
  background-color: #fbfbfb;
}
.gambarthumbnil{
  width: 646px;
  height: 45px;
  font-family: Muli;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  text-align: center;
  letter-spacing: normal;
  color: rgba(51, 51, 51, 0.4);
}

::-webkit-input-placeholder {
  width: 500px;
  padding-left: 2%;
  font-family: 'Muli';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: rgba(51, 51, 51, 0.4);
}
:-moz-placeholder {
  /* Firefox 18- */
  width: 500px;
  padding-left: 2%;
  font-family: 'Muli';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: rgba(51, 51, 51, 0.4);
}
::-moz-placeholder {
  /* Firefox 19+ */
  width: 500px;
  padding-left: 2%;
  font-family: 'Muli';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: rgba(51, 51, 51, 0.4);
}
:-ms-input-placeholder {
  width: 500px;
  padding-left: 2%;
  font-family: 'Muli';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: rgba(51, 51, 51, 0.4);
}


