@import url("https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,400;0,700;0,800;1,800&display=swap");
.elearing {

  font-family: 'Muli';
  font-size: 12px;
 
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #ffffff;
}


